body {
    background-image: linear-gradient(rgb(55, 40, 95), black);
    background-repeat: initial;
}

* {
    text-align: center;
    box-sizing: border-box;
    color: rgb(224, 170, 152);
}

h1, h2 {
    font-family: 'Quattrocento';
}

nav, footer {
    height: 50px;
}

footer ul {
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
}

img {
    height: 100px;
    width: 100px;
    margin-bottom: 7%;
    transition: opacity .25s ease;
}

.screenshot:hover {
    opacity: 0.5;
}

.logos, .contact {
    width: 30px;
    height: 30px;
}

.contact {
    text-align: unset;
    flex: 1;
}

.logos {
    margin-left: 2px;
    margin-right: 2px;
}

.headshot {
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgb(178, 98, 125);
}

.screenshot {
    width: 70%;
    height: initial;
    border-radius: 2px;
    margin: 0px;
}

.burger {
    border-radius: 0%;
    height: 30px;
    width: 30px;
    color: white;
    box-shadow: none;
    margin: 0;
    float: left;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

ul li ul li {
    opacity: 0;
    transition: opacity .25s ease;
}

.nav li ul{
    display: flex;
    flex-direction: column;
}

ul li ul li a{
    display: block;
    width: 100px;
    background: rgb(178, 98, 125, 0.5);
    margin-bottom: 5px;
    border-radius: 2px;
}

ul li a{
    text-decoration: none;
}

ul li:hover ul li {
    opacity: 1;
}

.technology {
    display: flex;
    justify-content: center;
    padding: 0px 40px;
}

div {
    font-family: 'Fanwood Text';
    font-size: 18px;
    text-align: initial;
    line-height: 26px;
    height: initial;
    width: 96%;
    padding: 5px 15px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 5%;
    background-color: rgb(128, 82, 128, 0.5);
    box-shadow: 0px 0px 4px rgb(178, 98, 125);
}

.desktop {
    display: none;
}

.mobile{
    margin: auto;
    display: block;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    div {
        font-size: 24px;
        line-height: 30px;
        width: 80%;
    }

    .headshot{
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 768px) {
    div {
        width: 60%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
        margin: auto;
    }
    .headshot{
        width: 200px;
        height: 200px;
    }

    .logos, .contact {
        width: 40px;
        height: 40px;
    }
    
}

.hide {
    display: none;
}