:root {
    --font-color: rgb(224, 170, 152);
    --background-color: rgb(55, 40, 95);
    --header-footer-border-color: rgb(128, 82, 128);
    --main-divs-color: rgb(128, 82, 128, 0.5);
    --content-font: 'Tomorrow', sans-serif;
    --headers-font: 'Notable', sans-serif;

    ;
}


html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(var(--background-color), black);
    background-repeat: initial;
}

* {
    text-align: center;
    box-sizing: border-box;
    color: var(--font-color);
}

h1, h2 {
    font-family: var(--headers-font);
}

nav, footer {
    height: initial;
}

footer {
    border-top: 1px solid var(--header-footer-border-color);
    padding-top: 5px;
}

span {
    font-weight: bolder;
}

footer ul {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px 0px 40px;
}

img {
    height: 100px;
    width: 100px;
    margin-bottom: 7%;
}

.logos, .contact {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.contact {
    text-align: unset;
    flex: 1;
}

.logos {
    margin-left: 2px;
    margin-right: 2px;
}

.headshot {
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgb(178, 98, 125);
}

.screenshot {
    width: 70%;
    height: initial;
    border-radius: 2px;
    margin: 0px;
}

.burger {
    border-radius: 0%;
    height: 30px;
    width: 30px;
    color: white;
    box-shadow: none;
    margin: 0;
    float: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid var(--header-footer-border-color);
    width: 100%;
}

.menu {
    margin: 0 30px 0 0;
    text-align: center;
    display: none;
}

.menu a {
    font-family: var(--content-font);
    clear: right;
    text-decoration: none;
    line-height: 70px;
    display: block;
    border-bottom: 1px solid lightgray;
    margin: 0;
    background-color: var(--background-color);
    z-index: 9999;
    position: relative;
    width: 96vw;
    font-size: 1.2em;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    cursor: pointer;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

#toggle:checked+.menu {
    display: block;
}

.technology {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
}

.info-divs {
    font-family: var(--content-font);
    font-size: 18px;
    text-align: initial;
    line-height: 26px;
    height: initial;
    width: 96%;
    padding: 5px 15px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15%;
    background-color: var(--main-divs-color);
    box-shadow: 0px 0px 4px rgb(178, 98, 125);
}

.desktop {
    display: none;
}

.mobile {
    margin: auto;
    display: block;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    div {
        font-size: 24px;
        line-height: 30px;
        width: 80%;
    }
    .headshot {
        width: 150px;
        height: 150px;
    }
    label {
        display: none;
    }
    .menu {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .menu a {
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
    }
    .info-divs {
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 768px) {
    div {
        width: 60%;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
        margin: auto;
    }
    .headshot {
        width: 200px;
        height: 200px;
    }
    .logos, .contact {
        width: 40px;
        height: 40px;
    }
    .info-divs {
        width: 60%;
    }
}

.hide {
    display: none;
}